<div class="panel panel-default about-saturn">
  <h1 id="saturn">Saturn</h1>
  <p>
    Saturn give you access to option data and helps analyze returns for different strategies involving options (see <a
      href="http://www.wikiwand.com/en/Options_strategies">http://www.wikiwand.com/en/Options_strategies</a>). The strategies are listed in
    the top bar. Saturn computes the return for each of the strategies for the entire market. The results are presented in a table where you
    can easily search, sort and filter results.
  </p>
  <p>
    To get started, click on any of the strategies above or see <a href="#/help">help</a> for more information.
  </p>
  <p>
    <img height=600 src="img/saturn_big.gif"></img>
  </p>
</div>
